<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="color:rgb(0, 0, 255)">Create a New Animal</h1>
    <a href="/animal"><button class="mainPageButton">Main Page</button></a>
    <form action="/fruit" method="post">
        <fieldset>
            <legend>Create a new fruit</legend>
            <label>Name: <input type="text" name="name" placeholder="enter fruit name"/></label>
            <label>Color: <input type="text" name="color" placeholder="enter fruit color"/></label>
            <label>Ready to eat: <input type="checkbox" name="readyToEat"/></label>
            <input type="submit" value="create new fruit"/>
        </fieldset>
    </form>
    
</body>
</html>